<form action="" method="post">
    Name: <input type="text" value="<%= bag.name %>" name="name"/> <br/>
    price: <input type="text"  name="price" value="<%= bag.price %>"/> <br/>
    category: <input type="text"  name="category" value="<%= bag.category %>"/> <br/>
    <input type="submit" value="Edit" /> <br/>
</form>