* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bag {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow color and intensity */
  transition: box-shadow 0.3s ease; /* Smooth transition on hover */
}

.bag:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.btn-cart {
  background-color: black; /* Black */
  border: none;
  color: white;
  padding: 8px 16px; /* Reduced padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Reduced font size */
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.btn-cart:hover {
  background-color: rgb(162, 158, 158); /* Light Grey */
  color: black; /* Black */
}