<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Bags Section -->
    <section class="bags container">
        <h1 class="mt-3">Ladies bags</h1>
        <% bags.forEach(bag => { %>
            <%- include('./partials/bags-display', { bag: bag }) %>
        <% }); %>
    </section>
</body>
</html>
