<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Bags Section -->
    <section class="bags container">
        <h1 class="mt-3">Men's Wallet</h1>
      <!-- First Row -->
      <%- include('./partials/bags-display') %>
      <!-- Repeat the structure for additional rows -->
      <%- include('./partials/bags-display') %>
      <%- include('./partials/bags-display') %>
  </section>
</body>
</html>